.nav-item{
    text-align: center;
}
.custom-navbar-style{
    font-size: large;
    text-decoration: underline;
}
#yourNumberIs, #queueNumber{
    padding: 10px;
    text-align: center;
    color: black;
}
#queueNumber {
    padding-top: 15px;
}
#yourNumberIsh1{
    font-size:  1.2em;
}
#queueNumberh1{
    font-size: 8em;
    margin-top: 10%;
}
#here {
    font-size: 8em;
    margin-top: 10%;
    text-decoration: underline;
}
#notHappy {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    font-style: italic;
}

@media (max-width: 500px) {
    @media (max-width: 300px) {
        #queueNumberh1{
            font-size: 5em;
            margin-top: 15px;
        }
        #here {
            font-size: 3em;
            text-decoration: underline;
        }
    }
    @media (max-height: 600) {
        #queueNumberh1{
            font-size: 5em;
            margin-top: 15px;
        }
        #here {
            font-size: 1em;
            text-decoration: underline;
        }
        #notHappy {
            font-size: 0.8em;
        }
    }
    #notHappy {
        font-size: 1em;
    }
    #here {
        font-size: 5em;
        text-decoration: underline;
    }
}