<div class="container justify-content-center">
    <div style="
    padding: 10px;
">
        <p>This is the 21th century. We have left the old disciplinary systems largely behind. According to
Deleuze, we have moved from Disciplinary Society (Foucault) towards a Society of Control. This is a
society brought forth by the power of deterritorialization, where despite the appearance of an
unparalled freedom, the diffusion of power places us all the more under the forces of capitalism. An
important aspect of the Society of control is that we are allowed to do “whatever we want.”</p>
    </div>
    <div style="
    padding: 10px;
">
        <p>It presents itself as a kind of freedom. No longer restrained by enclosure structures, like those of the
school or the factory, we can pursue an online education in our time, or work from home. What seems
to be lost here is true “free time”—that would be time fully outside of the structures of power. While it
had its own oppressive power relations, a disciplinary society seems to have had space for this: when
I punch out at the factory, my time is my own, until I go back tomorrow, for another shift. In a society of
control, this increasingly disappears.</p>
    </div>
    <div style="
    padding: 10px;
">
        <p>The effect is the same as with the panopticon: it does not matter if you are actually being watched, but
to create the feeling that you might be under surveillance at any given moment. Yet, in a society of
control, even that feeling is discouraged.</p>
    </div>
<div style="
    padding: 10px;
">
        <p>We know that we are being tracked but are encouraged not to worry about it. In our own time it seems
clear that the power of unions will not save us. We are the &#39;next generation&#39; that Deleuze refers to,
therefore it is up to us to figure how to resist this control. Or not. In the end,</p>
    </div>
    <div style="
    padding: 10px;
">
        <h5>you can do whatever you want.</h5>
    </div>
    <div style="padding: 10px">
        <p style="
    font-size: 0.6em;
"><i>Source: Crain,Cameron,
Living in a society of control,
Demantle.com</i></p>
    </div>
<div style="padding: 10px;">
        <p>We designed the project as a reflection on the current state where the Covid-19
pandemic has reminded us on how our life is under constant surveillance by
inhumane entities. Computers are storing the data of our lives while the owners of
our data and therefore our lives are unknown and leaving us to blindly accept their
terms and conditions. The main given functions of the website represent the three
ways of dealing with an imposed condition of something as simplistic as a queue
control. Be a passive observer and play the game of tracking others that is so often
being played on us. Be part of the market of interaction working with others to come
to a compromise by engaging oneself in a collective effort of trade. Or be a formalist
taking its issue with a higher representative - the institution that seems to be
responsible for your immediate problem. There remains and option of excluding
oneself from the game. Being presented with a notion of top - bottom organizational
scheme and choosing to ignore it. This category by itself is the most diverse. You can
range from a paranoiac to a denier. We are not only presenting the system to be
followed blindly but are throughout the process of collecting data most interested in
how one reacts to given options.</p>
    </div>

    <div style="padding: 10px;">
        <p>This art project is presented to you by four individuals unrelated to any official event
or institution. We only want to give the appearance of being for real.</p>
    </div>
    <div style="padding-left: 10px;">
        <p><b>Individual n.1 :</b>
Nika Bronic</p>
    </div>
    <div style="padding-left: 10px;">
        <p><b>Individual n.2 :</b>
Ema Ferreira</p>
    </div>
    <div style="padding-left: 10px;">
        <p><b>Individual n.3 :</b>
Blaž Jagarinec</p>
    </div>
    <div style="padding-left: 10px;">
        <p><b>Individual n.4 :</b>
Jakob F. P. Draž</p>
    </div>


</div>
</div>

<nav class="navbar navbar-expand fixed-bottom custom-navbar-style mb-4">
    <div class="navbar-collapse collapse justify-content-center">
        <ul class="nav pt-1 justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="/">Back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/disclaimer">Disclaimer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
