<div class="container justify-content-center">
    <div id = "yourNumberIs">
        <h1 id = "yourNumberIsh1">Wanna get in touch?</h1>
    </div>
    <h4 style="
    text-align: center;
    margin-top: 25%;
">Contact us :)</h4>
<div style="
    text-align: center;
    margin-top: 5%;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
">
<a href = "mailto: abc@example.com"><b>a7832e5637m@hotmail.com</b></a>

</div>
</div>

<nav class="navbar navbar-expand fixed-bottom custom-navbar-style mb-4">
    <div class="navbar-collapse collapse justify-content-center">
        <ul class="nav pt-1 justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="/">Back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/disclaimer">Disclaimer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
