<div class="container justify-content-center">
    <div style="
    padding: 10px;
">
        <h4>We are not tracking anyone.
        The function is programmed as
        a simulation of how we are
        being tracked daily by unknown
        entities.</h4>
    </div>
    <div style="
    padding: 10px;
">
        <h4>The queue system is not in any
way an official part of any event.
It is a rouge art project put in a
public space by four individuals.</h4>
    </div>
    <div style="
    padding: 10px;
">
        <h4>When adressing us with a
complaint the anwser is
automated. You can still reach
us via contact.</h4>
    </div>

</div>
</div>

<nav class="navbar navbar-expand fixed-bottom custom-navbar-style mb-4">
    <div class="navbar-collapse collapse justify-content-center">
        <ul class="nav pt-1 justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="/">Back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
